
<div class="container" style=" margin: -50px">
  <div class="row col-12" >
    <div class="col-md-6"style="padding-top:300px; padding-left: 300px;">
  <a href="/add" type="button" class="btn btn-info text-white btn-lg" style="font-weight: 600">add</a></div>
  <div class="col-md-6"style="padding-top:300px; padding-left: 300px;">
  <a  href="/view" type="button" class="btn btn-info text-white btn-lg" style="font-weight: 600;">view</a>
  </div>
</div>
</div>
