<div class="container col-12">
<div style="padding: 100px;">
<form  method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Enter the class</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="class"name="search"><br>
    <button type="submit" class="btn btn-primary">search</button>
  </div>

</form>
</div>
</div>
